@model List<ResultAllBlogsWithAuthorDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách và quản lý bài viết</h4>
                        <p class="card-subtitle mb-4">
                            Tại đây, quản trị viên có thể xem danh sách, cập nhật và xóa bài viết. Để thêm bài viết mới, cần đăng nhập bằng tài khoản tác giả tại trang Login/WriterLogin. Mỗi tác giả chỉ có thể chỉnh sửa bài viết của mình.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tiêu đề</th>
                                        <th>Tác giả</th>
                                        <th>Danh mục</th>
                                        <th>Ngày</th>
                                        <th>Xóa</th>
                                        <th>Mở bài viết</th>
                                        <th>Bình luận</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.title</td>
                                            <td>@item.authorName</td>
                                            <td>@item.categoryID</td>
                                            <td>@item.createdDate</td>
                                            <td><form method="post" action="/Admin/AdminBlog/RemoveBlog/@item.blogID" class="d-inline" onsubmit="return confirm('Bạn chắc chắn muốn xóa dữ liệu này?');">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-outline-danger">Xóa</button>
</form></td>
                                            <td><a href="/Blog/BlogDetail/@item.blogID" class="btn btn-outline-dark">Mở bài viết</a></td>
                                            <td><a href="/Admin/AdminComment/Index/@item.blogID" class="btn btn-outline-warning">Bình luận</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



